<% include ./partials/header.ejs %>
<h2>This page can only be accessed by authenticated users</h2>
<h3>You are supper cool and can access this page</h3>
<img src="https://media.tenor.com/images/093f67054b0827332224604781f434e3/tenor.gif">	
<% include ./partials/footer.ejs %>